# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
 vendor/
bin/*

.DS_Store
.idea/
.scannerwork/
logs/
build/bin
build/darwin
info.plist

# frontend
node_modules/
dist/
package.json.md5

Cantor.dmg

